# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
*.sqlite3
staticfiles/
media/

# Secrets
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editor
.idea/
.vscode/
*.swp
